<h1>New News</h1>

<% if user_signed_in? %>
    <div id='new_news'>
<%= render 'form', news: @news %>
</div>
<%= link_to 'Back', news_index_path %>
<% else %>
<p>Vous devez vous connecter</p>
<div id='new_user'>
     <li> <%= link_to "Créer un compte", new_user_registration_path, :class => 'navbar-link'  %> .</li>
     <li> <%= link_to "Connection", new_user_session_path, :class => 'navbar-link'  %>.</li>
</div>
<% end %>

